<% provide(:title, "La nostra app") %>

<h1>About us</h1>

<h2>Travel Diary is a web application realized by two engineering in computer science's students.
    We wanted to give the chance to either share informations and learn about places that users would like to visit during their life time.
</h2>

<p>
    <h1>Contact</h1>
    <h2>For any questions write us at:
        <b>
        <i id:"link_barra"> traveldiarywebapp@gmail.com </i>
        </b>
    </h2>

</p>
