<% provide(:title, "Pagina iniziale") %>

<h1>Condividi un viaggio</h1>
<p>
Grazie alla nostra applicazione avrai la possibilità di condividere con altri utenti esperienze vissute e viaggi indimenticabili.
</p>
<p>
Comincia subito!
</p>
